<div id="city-popup" class="hidden">
    <div class='exit'>X</div>
    <h2 id="city-name"><span id="popup-city"></span>, <span id="popup-country"></span></h2>
    <h5 id="lat-lon">(<span id="popup-lat"></span>, <span id="popup-lon"></span>)</h5>
    <div id='select'>
        <a id='select-image'><i class="far fa-image"></i> Image</a>
        <a id='select-map'><i class="fas fa-map-marked-alt"></i> Map</a>
    </div>
    <div id='flex-container'>
        <div id='image'>
            <!-- https://old.reddit.com/r/loadingicon/comments/6h421f/winders_oc/ -->
            <img id='city-image' class='w-85' src='loading-davebees.gif'/>
        </div>
        <div id='info'>
            <p>Population: <span id="popup-population"></span></p>
            <p>Elevation: <span id="popup-elevation"></span> m</p>
            <p>Air Pollution Index: <span id="popup-pollution"></span></p>
            <p>Is there an airport? <span id="popup-airport"></span></p>
            <p>Is there an international airport? <span id="popup-intlairport"></span></p>
            <p>Is there a beach? <span id="popup-beach"></span></p>
            <p>Natural cocounut tree growth area? <span id="popup-palms"></span></p>

            <p>Internet speed: <span id="popup-mbps"></span> Mbps</p>
            <p>Purchasing Power Parity against USD: <span id="popup-purchasingpower"></span></p>
            <p>Population living in severe poverty: <span id="popup-povertyindex"></span>%</p>
            <p>Homicides per 100k people: <span id="popup-totalhomicides"></span></p>
            <p>Homicides per 100k women: <span id="popup-femalehomicides"></span></p>

        </div>
    </div>
    <div id='weather'>
        <table>
            <tr>
                <th> </th>
                <th> Jan </th>
                <th> Feb </th>
                <th> March </th>
                <th> April </th>
                <th> May </th>
                <th> June </th>
                <th> July </th>
                <th> Aug </th>
                <th> Sept </th>
                <th> Oct </th>
                <th> Nov </th>
                <th> Dec </th>
            </tr>
            <tr>
                <td> Temperature (C) </td>
                <td> <span id="popup-tempJan"> </td>
                <td> <span id="popup-tempFeb"> </td>
                <td> <span id="popup-tempMar"> </td>
                <td> <span id="popup-tempApr"> </td>
                <td> <span id="popup-tempMay"> </td>
                <td> <span id="popup-tempJun"> </td>
                <td> <span id="popup-tempJul"> </td>
                <td> <span id="popup-tempAug"> </td>
                <td> <span id="popup-tempSep"> </td>
                <td> <span id="popup-tempOct"> </td>
                <td> <span id="popup-tempNov"> </td>
                <td> <span id="popup-tempDec"> </td>
            </tr>
            <tr>
                <td> Precipitation (in) </td>
                <td> <span id="popup-precipJan"> </td>
                <td> <span id="popup-precipFeb"> </td>
                <td> <span id="popup-precipMar"> </td>
                <td> <span id="popup-precipApr"> </td>
                <td> <span id="popup-precipMay"> </td>
                <td> <span id="popup-precipJun"> </td>
                <td> <span id="popup-precipJul"> </td>
                <td> <span id="popup-precipAug"> </td>
                <td> <span id="popup-precipSep"> </td>
                <td> <span id="popup-precipOct"> </td>
                <td> <span id="popup-precipNov"> </td>
                <td> <span id="popup-precipDec"> </td>
            </tr>
            <tr>
                <td> UV index </td>
                <td> <span id="popup-uvJan"> </td>
                <td> <span id="popup-uvFeb"> </td>
                <td> <span id="popup-uvMar"> </td>
                <td> <span id="popup-uvApr"> </td>
                <td> <span id="popup-uvMay"> </td>
                <td> <span id="popup-uvJun"> </td>
                <td> <span id="popup-uvJul"> </td>
                <td> <span id="popup-uvAug"> </td>
                <td> <span id="popup-uvSep"> </td>
                <td> <span id="popup-uvOct"> </td>
                <td> <span id="popup-uvNov"> </td>
                <td> <span id="popup-uvDec"> </td>
            </tr>
        </table>
    </div>
    <div id="issues">
        <a id="popup-issues" href="/issues/">Report incorrect information.</a>
    </div>
</div>

