<!-- Filter area -->
<div id="filter-col" class="col-lg-2 scroll-box">
    <div id="filter">
        <br>
        <button class="btn btn-default internet" title="Internet speeds over 20 Mbps">Fast Internet</button>
        <button class="btn btn-default pollution" title="Low air pollution index.">Low Air Pollution</button>
        <button class="btn btn-default beaches" title="Within 50 miles to a coastline.">Close to the Beach</button>
        <hr>
        <button class="btn btn-default rural"  title="Population less than 20,000 people.">Rural</button>
        <button class="btn btn-default town"  title="Population between 20,000 and 100,000 people.">Town</button>
        <button class="btn btn-default city"  title="Population between 100,000 and 500,000 people.">City</button>
        <button class="btn btn-default metro"  title="Population over 500,000 people. ">Metro</button>
        <hr>
        <p>Month Visiting</p>
        <button class="btn btn-default jan" >Jan</button>
        <button class="btn btn-default feb" >Feb</button>
        <button class="btn btn-default mar" >Mar</button>
        <button class="btn btn-default apr" >Apr</button>
        <button class="btn btn-default may" >May</button>
        <button class="btn btn-default jun" >June</button>
        <button class="btn btn-default jul" >July</button>
        <button class="btn btn-default aug" >Aug</button>
        <button class="btn btn-default sep" >Sep</button>
        <button class="btn btn-default oct" >Oct</button>
        <button class="btn btn-default nov" >Nov</button>
        <button class="btn btn-default dec" >Dec</button>
        <hr>
        <button class="btn btn-default uv"  title="Low UV index rating.">Low UV index</button>
        <button class="btn btn-default precipitation"  title="Low precipitation rating.">Low Precipitation</button>
        <hr>
        <button class="btn btn-default cold" title="Temp. between -17.7 C and 7.2 C (0 F and 45 F).">Cold</button>
        <button class="btn btn-default temperate" title="Temp. between 7.2 C and 22.2 C (45 F and 72 F).">Temperate</button>
        <button class="btn btn-default warm" title="Temp. between 23.8 C and 32.2 C (75 F and 90 F).">Warm</button>
        <button class="btn btn-default hot" title="Temp. between 29.4 C and 38.3 C (85 F and 101 F).">Hot!</button>
        <hr>
        <button class="btn btn-default airports" title="Has an internation airport.">Must have an airport</button>
        <button class="btn btn-default purchase" title="Low purchasing power parity.">USD goes further</button>
        <button class="btn btn-default palms" title="Has palm and coconut trees.">Coconut trees</button>
        <hr>
        <button class="btn btn-default high-poverty-index" title="High poverty index.">high poverty index</button>
        <button class="btn btn-default medium-poverty-index" title="Medium poverty index.">medium poverty index</button>
        <button class="btn btn-default low-poverty-index" title="Low poverty index.">low poverty index</button>
        <hr>
        <button class="btn btn-default safe" title="Low homicide rate.">Safe</button>
        <button class="btn btn-default safeforwomen" title="Low rate for violence against women.">Safe for Women</button>
    </div>
</div>

