<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon glyphicon-globe"></span> Map</a>
      </li>
      <li>
        <a href="/db"><span class="glyphicon glyphicon glyphicon-book"></span> Database</a>
      </li>
      <li>
        <a href="/data"><span class="glyphicon glyphicon-file"></span> Data Article</a>
      </li>
      <li>
        <a href="/city"><span class="glyphicon glyphicon-search"></span> Cities</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/cs467-map"><span class="glyphicon glyphicon-heart"></span> Source Code</a>
      </li>
      <li class="navbar-right">
        <a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a>
      </li>
    </ul>
  </div>
</nav>
