.jumbotron {
    background: #532F8C;
    color: white;
padding-bottom: 80px; }
.jumbotron .btn-primary {
    background: #845ac7;
border-color: #845ac7; }
.jumbotron .btn-primary:hover {
background: #7646c1; }
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
margin: 1em auto 2em; }
.navbar + .jumbotron {
margin-top: -20px; }
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
border: 2px solid white; }
.jumbotron .lang-logo img {
max-width: 100%; }
img {
    max-width: 100%;
}

html, body {
    height: 100%;
}
#map {
    //position: absolute;
    top: 7%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85%;
}

code {
    color: #384cbd;
    background-color: lavender;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

.navbar.navbar-default.navbar-static-top {
    height: 7%;
}

#sidebar {
    /* for the animation */
    transition: margin 500ms;
}

.hidden {
    /* hide it for small displays*/
    display: none;
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#content {
    /* for the animation */
    //transition: width 500ms;
}

#toggle {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0,60,136,.5);
    border: none;
}

.navbar-light, .navbar-default {
    background-color: #f8f8f8;
}
