<p>Search cities:</p>

<form action="/city-submit" method="post">
<input type="text" name="city" value="<%=city_name%>"/>
<br />
<input type="submit" value="Submit" />
</form>

<img src="<%=city_image%>"/>
