<p>Search cities:</p>

<form>
    <input type='text' name='city' id='city-name' value=''/>
    <br />
    <input id='submit' type='submit' value='Submit' />
</form>

<img id='city-image' src=''/>

<script src='city.js'></script>
