<p>Search cities:</p>

<form>
    <input type='text' name='city' id='city-search' value=''/>
    <br />
    <input id='submit' type='submit' value='Submit' />
</form>

<div class="w-50">
    <img id='city-image' src=''/>
</div>

<script src="city-search.js"></script>
