<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> - <%= r.country_code %></li>
    <% }); %>
</ul>

<h2>Database Tables</h2>

<ul>
    <% tables.tables.forEach(function(t) { %>
        <li><%= t.table_name %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
