<% include ../partials/city-popup.ejs %>
<div class="grid-container" style="display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 20px;">

   <% cities.forEach(function(c) { %>
        <div class="grid-item" style="text-align:center; border: 1px solid black; border-radius:3px; height:200px;">
            <img class='city-image' src=''></img>
            <h3 class='city-name'><%= c[0] %></h3>
            <p></p>
        </div>
    <% }); %>

    <div style='display: none;' id='map'></div>
</div>


<script src="city.js"></script>
<script src="grid.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0HDekZyCAyDNNKgs2oE1n55OjtSD8ahE&libraries=places"></script>
<script src="city-fallback.js"></script>
