<div class="container-fluid">
    <button id="toggle">Toggle Filters</button>
    <div class="row">
        <div id="filter-col" class="col-lg-2">
            <div id="filter">
                <p>Population (Millions):</p>
                <input class="filter-input" id="pop_min" type="number" placeholder="Min. Population" step="0.1" min="0"></input>
                <input class="filter-input" id="pop_max" type="number" placeholder="Max. Population" step="0.1" min="0"></input>

                <p>Internet Speed (Mbps):</p>
                <input class="filter-input" id="internet_min" type="number" placeholder="Min. Speed" step="0.1" min="0"></input>
                <input class="filter-input" id="internet_max" type="number" placeholder="Max. Speed" step="0.1" min="0"></input>

                <button class="submit big">Submit</button>
                <button class="clear big">Clear</button>

                <hr />

                <p>Change marker type:</p>
                <div>
                    <input type="radio" id="population" name="markers" value="population">
                    <label for="population">population</label>
                </div>

                <div>
                    <input type="radio" id="internet" name="markers" value="internet">
                    <label for="internet">internet speed</label>
                </div>

                <p>I'm a cool slider! <span id="demo"></span></p>
                <div>
                    <input type="range" min="0" max="10000000" value="100000" class="slider" id="myRange"/>
                </div>
            </div>
        </div>

        <div id="content" class="col-lg-10">
            <div id="map"></div>
        </div>
    </div>

</div>
<script src="main.bundle.js"></script>
<script src="filter.js"></script>
