<div class="container-fluid">
    <button id="toggle" class="btn btn-success btn-sm">Toggle Filters</button>
    <% include ../partials/city-popup.ejs %>
    <div class="row">
        <!-- Filter area -->
        <div id="filter-col" class="col-lg-2 scroll-box">
            <div id="filter">
                <h3>These are working</h3>
                <button class="btn btn-default internet">Fast Internet</button>
                <button class="btn btn-default pollution">Low Air Pollution</button>
                <button class="btn btn-default beaches">Close to the Beach</button>
                <hr>
                <h3>Coming Soon!</h3>
                <button class="btn btn-default rural" >Rural</button>
                <button class="btn btn-default town" >Town</button>
                <button class="btn btn-default city" >City</button>
                <button class="btn btn-default metro" >Metro</button>
                <hr>
                <p>Month Visiting</p>
                <button class="btn btn-default jan" >Jan</button>
                <button class="btn btn-default feb" >Feb</button>
                <button class="btn btn-default mar" >Mar</button>
                <button class="btn btn-default apr" >Apr</button>
                <button class="btn btn-default may" >May</button>
                <button class="btn btn-default jun" >June</button>
                <button class="btn btn-default jul" >July</button>
                <button class="btn btn-default aug" >Aug</button>
                <button class="btn btn-default sep" >Sep</button>
                <button class="btn btn-default oct" >Oct</button>
                <button class="btn btn-default nov" >Nov</button>
                <button class="btn btn-default dec" >Dec</button>
                <hr>
                <button class="btn btn-default uv" >Low UV index</button>
                <button class="btn btn-default precipitation" >Low Precipitation</button>
                <hr>
                <button class="btn btn-default cold">Cold</button>
                <button class="btn btn-default temperate">Temperate</button>
                <button class="btn btn-default warm">Warm</button>
                <button class="btn btn-default hot">Hot!</button>
                <hr>
            </div>
        </div>

        <div id="content" class="col-lg-10">
            <div id="map"></div>
        </div>
    </div>

</div>
<script src="post.js"></script>
<script src="city-popup.js"></script>
<script src="city.js"></script>
<script src="main.bundle.js"></script>
<script src="filter.js"></script>
