<div class="container-fluid">
    <button id="toggle" class="btn btn-success btn-sm">Toggle Filters</button>
    <div id="city-popup" class="hidden">
        <div class='exit'>X</div>
        <h2 id="city-name"><span id="popup-city"></span>, <span id="popup-country"></span></h2>
        <h5 id="lat-lon">(<span id="popup-lat"></span>, <span id="popup-lon"></span>)</h5>
        <div id='flex-container'>
            <div id='image'>
                <!-- https://old.reddit.com/r/loadingicon/comments/6h421f/winders_oc/ -->
                <img id='city-image' src='loading-davebees.gif'/>
            </div>
            <div id='info'>
                <p>Population: <span id="popup-population"></p>
                <p>Internet (Mbps): <span id="popup-mbps"></p>
                <p>Elevation <span id="popup-elevation"> M</p>
                <p>Air Pollution Index: <span id="popup-pollution"></p>
                <p>Is there an airport? <span id="popup-airport"></p>
                <p>Is there a beach? <span id="popup-beach"></p>

            </div>
        </div>
        <div id='weather'>
            <table>
                <tr>
                    <th> </th>
                    <th> Jan </th>
                    <th> Feb </th>
                    <th> March </th>
                    <th> April </th>
                    <th> May </th>
                    <th> June </th>
                    <th> July </th>
                    <th> Aug </th>
                    <th> Sept </th>
                    <th> Oct </th>
                    <th> Nov </th>
                    <th> Dec </th>
                </tr>
                <tr>
                    <td> Temperature (C) </td>
                    <td> <span id="popup-tempJan"> </td>
                    <td> <span id="popup-tempFeb"> </td>
                    <td> <span id="popup-tempMar"> </td>
                    <td> <span id="popup-tempApr"> </td>
                    <td> <span id="popup-tempMay"> </td>
                    <td> <span id="popup-tempJun"> </td>
                    <td> <span id="popup-tempJul"> </td>
                    <td> <span id="popup-tempAug"> </td>
                    <td> <span id="popup-tempSep"> </td>
                    <td> <span id="popup-tempOct"> </td>
                    <td> <span id="popup-tempNov"> </td>
                    <td> <span id="popup-tempDec"> </td>
                </tr>
                <tr>
                    <td> Precipitation (in) </td>
                    <td> <span id="popup-precipJan"> </td>
                    <td> <span id="popup-precipFeb"> </td>
                    <td> <span id="popup-precipMar"> </td>
                    <td> <span id="popup-precipApr"> </td>
                    <td> <span id="popup-precipMay"> </td>
                    <td> <span id="popup-precipJun"> </td>
                    <td> <span id="popup-precipJul"> </td>
                    <td> <span id="popup-precipAug"> </td>
                    <td> <span id="popup-precipSep"> </td>
                    <td> <span id="popup-precipOct"> </td>
                    <td> <span id="popup-precipNov"> </td>
                    <td> <span id="popup-precipDec"> </td>
                </tr>
                <tr>
                    <td> UV index </td>
                    <td> <span id="popup-uvJan"> </td>
                    <td> <span id="popup-uvFeb"> </td>
                    <td> <span id="popup-uvMar"> </td>
                    <td> <span id="popup-uvApr"> </td>
                    <td> <span id="popup-uvMay"> </td>
                    <td> <span id="popup-uvJun"> </td>
                    <td> <span id="popup-uvJul"> </td>
                    <td> <span id="popup-uvAug"> </td>
                    <td> <span id="popup-uvSep"> </td>
                    <td> <span id="popup-uvOct"> </td>
                    <td> <span id="popup-uvNov"> </td>
                    <td> <span id="popup-uvDec"> </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <!-- Filter area -->
        <div id="filter-col" class="col-lg-2 scroll-box">
            <div id="filter">
				<div class="btn-group">
					<h3>These are working</h3>
					<button class="btn btn-default internet">Fast Internet</button>
					<button class="btn btn-default pollution">Low Air Pollution</button>
					<button class="btn btn-default beaches">Close to the Beach</button>
                </div>
				<hr>
				<div class="btn-group">
					<h3>City Type</h3>
					<label class="btn btn-default active metro">
						<input type="radio" name="city-type" id="option1"> Metro
					</label>
					<label class="btn btn-default city"">
						<input type="radio" name="city-type" id="option2"> City
					</label>
					<label class="btn btn-default town">
						<input type="radio" name="city-type" id="option3"> Town
					</label>
					<label class="btn btn-default rural">
						<input type="radio" name="city-type" id="option4"> Rural
					</label>					
                </div>
				<hr>
				<div class="btn-group">
					<p>Month Visiting</p>
					<button class="btn btn-basic jan" disabled>Jan</button>
					<button class="btn btn-basic feb" disabled>Feb</button>
					<button class="btn btn-basic mar" disabled>Mar</button>
					<button class="btn btn-basic apr" disabled>Apr</button>
					<button class="btn btn-basic may" disabled>May</button>
					<button class="btn btn-basic jun" disabled>June</button>
					<button class="btn btn-basic jul" disabled>July</button>
					<button class="btn btn-basic aug" disabled>Aug</button>
					<button class="btn btn-basic sep" disabled>Sep</button>
					<button class="btn btn-basic oct" disabled>Oct</button>
					<button class="btn btn-basic nov" disabled>Nov</button>
					<button class="btn btn-basic dec" disabled>Dec</button>
                </div>
				<hr>
				<div class="btn-group">
					<button class="btn btn-basic uv" disabled>Low UV index</button>
					<button class="btn btn-basic precipitation" disabled>Low Precipitation</button>
                </div>
				<hr>
				<div class="btn-group">
					<button class="btn btn-basic cold" disabled>Cold</button>
					<button class="btn btn-basic temperate" disabled>Temperate</button>
					<button class="btn btn-basic warm" disabled>Warm</button>
					<button class="btn btn-basic hot" disabled>Hot!</button>
                </div>
				<hr>
				<div class="btn-group">
					<button class="btn btn-basic pollution" disabled>Low Air Pollution</button>
				</div>
            </div>
        </div>

        <div id="content" class="col-lg-10">
            <div id="map"></div>
        </div>
    </div>

</div>
<script src="post.js"></script>
<script src="city-popup.js"></script>
<script src="city.js"></script>
<script src="main.bundle.js"></script>
<script src="filter.js"></script>
