<div class="container-fluid">
    <button id="toggle" class="btn btn-success btn-sm">Toggle Filters</button>
    <div id="city-popup" class="hidden">
        <div class='exit'>X</div>
        <h2 id="information"></h2>
        <div id='flex-container'>
            <div id='image'>
                <!-- https://old.reddit.com/r/loadingicon/comments/6h421f/winders_oc/ -->
                <img id='city-image' src='loading-davebees.gif'/>
            </div>
            <div id='info'>
                <p>This is a very cool city!</p>
                <p>It receives 1.21 gigawatts of solar radiation every year!</p>
                <p>Some believe this city is pathway to many abilities some consider to be unnatural.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="filter-col" class="col-lg-2 scroll-box">
            <div id="filter">
                <p>Population (Millions):</p>
                <input class="filter-input" id="pop_min" type="number" placeholder="Min. Population" step="0.1" min="0"></input>
                <input class="filter-input" id="pop_max" type="number" placeholder="Max. Population" step="0.1" min="0"></input>

                <p>Internet Speed (Mbps):</p>
                <input class="filter-input" id="internet_min" type="number" placeholder="Min. Speed" step="0.1" min="0"></input>
                <input class="filter-input" id="internet_max" type="number" placeholder="Max. Speed" step="0.1" min="0"></input>

                <button class="btn btn-primary submit">Submit</button>
                <button class="btn btn-danger clear">Clear</button>

                <hr />
				
				<p>Change Marker Type:<p>
				<label class="custom-radio-btn-container">&#x1F3D9 Population
				  <input type="radio" checked="checked" id="population" name="radio">
				  <span class="checkmark"></span>
				</label>
				<label class="custom-radio-btn-container">&#x1F310 Internet Speed
				  <input type="radio" id="internet" name="radio">
				  <span class="checkmark"></span>
				</label>

                <p>I'm a cool slider! <span id="demo"></span></p>
                <div>
                    <input type="range" min="0" max="10000000" value="100000" class="slider" id="myRange"/>
                </div>
            </div>
        </div>

        <div id="content" class="col-lg-10">
            <div id="map"></div>
        </div>
    </div>

</div>
<script src="main.bundle.js"></script>
<script src="filter.js"></script>
<script src="city.js"></script>
