<div class="container-fluid h-100">
    <button id="toggle">Toggle Filters</button>
    <div class="row h-100">
        <div class="col-lg-2">
            <div id="filter" class="hidden">
                <p>Population: <span id="demo"></span></p>
                <div>
                    <input type="range" min="0" max="10000000" value="100000" class="slider" id="myRange"/>
                </div>
            </div>
        </div>

        <div id="content" class="col-lg-12 h-100">
                <div id="map"></div>
        </div>
    </div>

</div>
<script src="bundle.js"></script>

<script>
    $("#toggle").click(() => {
        /* to toggle the sidebar, just switch the CSS classes */
        $("#filter").toggleClass("hidden");
        $("#content").toggleClass("col-lg-12 col-lg-10");
    });

var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value;
} 
</script>


