<a href="/">⇠ Home</a>
<br />
<br />

<h2>Successfully submitted new issue.</h2>
<p>View it at <a href="https://github.com/cs467-map/<%= issue_type %>/issues">https://github.com/cs467-map/<%= issue_type %>/issues</a>.</p>
<hr />

<div id="submitted-issue">
    <h3>Title: <%= issue_title %></h3>
    <p>Body: <%= issue_body %></p>
</div>
